name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  merge_group:

jobs:
  build:
    name: "Compile against JDKs and OSes"
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        java: [17, 21, 24, 25, 26-ea]
        exclude:
          - java: 8
            os: macos-latest
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          cache: maven

      - name: Build with Maven
        run: mvn --batch-mode clean verify

  test:
    name: "Test"
    needs: [build]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [17, 21, 25]
        fasterxmlVersion: [3.0.3]
      fail-fast: false

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
          cache: maven

      - name: Run tests with specific Jackson version
        run: mvn --batch-mode clean verify -Djackson.version=${{ matrix.fasterxmlVersion }}

  results:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    name: Verification Results
    needs: [test]
    steps:
      - name: Check test job status
        run: |
          if [[ "${{ needs.test.result }}" == "success" || "${{ needs.test.result }}" == "skipped" ]]; then
            exit 0
          else
            exit 1
          fi

  deploy-snapshot:
    runs-on: ubuntu-latest
    needs: results
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v6
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
          server-id: central
          server-username: CENTRAL_USERNAME
          server-password: CENTRAL_PASSWORD
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}

      - name: Deploy Snapshot
        run: mvn -B --no-transfer-progress -Pmaven-central-release -DskipTests=true deploy
        env:
          CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
          CENTRAL_PASSWORD: ${{ secrets.CENTRAL_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
